<mat-card class="innoware-card" *ngIf="!(cardNumber | isJoker); else joker">
  <mat-card-header fxLayout fxLayoutAlign="space-between">
    <div mat-card-avatar class="header header-{{cardType | lowercase}}"></div>
    <mat-card-title class="number-{{cardType | lowercase}}">
      {{cardNumber}}
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="/assets/images/suits-views.svg#{{cardType | lowercase}}" height="30" width="30"/>
  <mat-card-footer fxLayout fxLayoutAlign="space-between">
    <span class="number-{{cardType | lowercase}}">{{cardNumber}}</span>
    <div mat-card-avatar class="header header-{{cardType | lowercase}}"></div>
  </mat-card-footer>
</mat-card>
<ng-template #joker>
  <mat-card>
    <mat-card-content style="font-size: 32px">
      JOKER
    </mat-card-content>
  </mat-card>
</ng-template>
