<div class="grid-container">
  <h1 class="mat-h1">{{ 'dashboard' | transloco }}</h1>
  <div fxLayoutAlign="center center" fxLayout="column">
    <mat-tab-group>
      <mat-tab label="{{'room.create' | transloco}}">
        <innoware-room-form (createOrJoin)="createRoom($event)" label="create-room"></innoware-room-form>
      </mat-tab>
      <mat-tab label="{{'room.join' | transloco}}">
        <innoware-room-form (createOrJoin)="joinRoom($event)" label="join-room"></innoware-room-form>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
