<div class="cards-list" fxLayout="row" fxLayoutGap="15px" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal" [style.maxWidth.px]="750">
  <innoware-card
    class="card"
    cdkDragBoundary=".cards-list"
    [style.left.px]="dragging | dynamicOverlap:i"
    *ngFor="let card of cards; let i = index"
    [cardType]="card.type"
    [cardNumber]="card.number"
    (selected)="cardSelected(card)"
    (cdkDragStarted)="dragStart($event)"
    (cdkDragEnded)="dragEnded()"
    cdkDrag>
    <!--<div class="layout-item-drag-preview" *cdkDragPreview>
      {{ selections.length > 0 ? selections.length : 1 }}
    </div>-->
  </innoware-card>
</div>
